<header class="site-header" role="banner">
  <div class="wrapper" style="padding-top: 14px; padding-bottom: 12px;">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}" style="float: none; display: block; line-height: 1.2; margin: 0;">
      {{ site.title | escape }}
    </a>
    <div style="clear: both; display: block; margin-top: 4px; font-size: 15px; line-height: 1.35; color: #424242;">
      Toronto, Ontario | Email: <a href="mailto:singhal.harshit@yahoo.com">singhal.harshit@yahoo.com</a> | <a href="https://www.linkedin.com/in/singhalharshit/">LinkedIn</a>
    </div>
  </div>
</header>
